.wrapper {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-white);
}

.entry_wrapper {
    width: 100%;
}

.align_fields {
    height: 100%;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input_field {
    all: unset;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    display: block;
    color: var(--main-white);
    font-weight: 400;
}

.input_field:autofill {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
}

.placeholder_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.fields_wrapper {
    display: flex;
    border-bottom: 1px solid var(--light-grey-text-color);
    position: relative;
}

.err {
    color: white;
}

.err.fields_wrapper {
    border-bottom: 1px solid #8d0000;
}

.btn {
    width: 100%;
    height: 50px;
    color: var(--content-color);
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    background-color: var(--main-white);
    font-weight: 700;

    position: relative;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid var(--content-color);
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.075);
    cursor: pointer;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
}

.btn span {
    position: relative;
    /* Ensure the button text is above the video */
    z-index: 1;
    font-family: var(--nunito);
}

.field_name {
    font-weight: 200;
    color: var(--main-white);
}

.buttonVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgot {
    text-decoration: none;
    color: var(--main-white);
    font-size: 12px;
    width: 100%;
    text-align: left;
}

.singup_block {
    width: 100%;
    display: flex;
    font-size: 16px;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.singup_block>a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: var(--nunito);
}

.eye {
    position: absolute;
    right: 0;
    cursor: pointer;
}